h1 {
    padding: 20px 0 10px;
    color: #297b6e;
}

.dimention {
    width: calc(100% / 4 - 15px);
    background-color: rgb(247, 242, 235);
    border: solid #297b6e 3px;
    border-radius: 10px;
}

.cont-card {
    gap: 15px;
    flex-wrap: wrap;
}

.lista {
    padding: 20px;
}